# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~


*.DotSettings.user
*.pdb
*.rb
*.suo
*.exclude
*.user

.sass-cache/
bin/
ep/Bin/Microsoft.*.dll
ep/Bin/MCTWF.*.dll
view/
!ep/Bin


.nuget/
obj/
packages/
_ReSharper.TableSearch.Mvc.Engine/
Visual Studio 2010/

!move_all_needed_dlls.rb