$white: #ffffff

@mixin defaultButton
  background-color: #c1131d !important
  border-color: $white !important
  border-style: solid !important
  border-Width: .5em !important
  color: $white !important
  font-size: x-large !important

.clearBoth
  clear: both

.floatLeft 
  float: left 

.floatRight 
  float: right
